{%load static%}
<html>
    <head>
        <title>Aventure d'un jardin</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="{% url 'blog:blog' %}">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">A propos</a></li>
            </ul>
            {% comment %} <a href="{% url 'band-list' %}">Liste de musique</a>
            <a href="{% url 'title-list' %}">Liste de Titre</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'about-us' %}">A propos</a> {% endcomment %}
        </nav>

        {% block content %}{% endblock %}

    </body>
</html>