{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="blog-container">
    <h1 class="blog-title">{% trans "🌿 Bienvenue sur notre Blog" %}</h1>
    {% if posts %}
    {% for post in posts %}
    <div class="post">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="post-content">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
            <p>{{ post.content }}</p>
        </div>
        <a href="{% url 'blog:post_detail' post.id %}" class="post-link">{% trans "Lire la suite"%}</a>
    </div>
    {% endfor %}
    {% endif %}

</div>
{% comment %} 
<div class="container">
    <h1>Page de Blog</h1>
    
    {% if posts %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ posts.0.title }}</h2>
            <div class="blog-post-meta">
                <span>Publié le {{ posts.0.date }} par {{ posts.0.author }}</span>
            </div>
            <div class="blog-post-content">
                {{ posts.0.content }}
            </div>
        </div>
    {% else %}
        <p>Aucun article de blog disponible.</p>
    {% endif %}
</div> {% endcomment %}
{% endblock %}
