{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<main>
    <div class="blog-container">
        <h1 class="blog-title">{% trans "🌿 Bienvenue sur notre Blog" %}</h1>
        {% if posts %}
        {% for post in posts %}
        <div class="post">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="post-content">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
                <p>{{ post.content }}</p>
            </div>
            <a href="{% url 'blog:post_detail' post.id %}" class="post-link">{% trans "Lire la suite"%}</a>
        </div>
        {% endfor %}
        {% endif %}
    
    </div>
</main>
{% endblock %}
